.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Estilo de la columna de favoritas */
.favorites-container {
    width: 250px;
    background-color: #70c0c2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo de la columna de búsqueda y resultados */
.search-results-container {
    flex-grow: 1;
    background-color: rgba(176, 201, 75, 0.474);
    border-radius: 5px;
}

/* Estilos para las secciones de favoritos y resultados */
section.js-favorites,
section.js-list {
    margin-top: 10px;
}

section.js-favorites .container,
section.js-list .container {
    padding: 10px;
    border: 1px solid #140202;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.container img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}

.selected {
    color: green;
    background-color: yellow;
    padding: 5px;
    border-radius: 3px;
}

.collapsed {
    display: none;
}